
body {
    margin: 0;
    padding: 0;
    font-family: 'Verdana', sans-serif;
    
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://images.alphacoders.com/782/782653.png') no-repeat center center fixed;
    background-size: cover;
    filter: blur(8px); 
    z-index: -1;
  }

.clan-container {
    background: rgba(0, 0, 0, 0.8);
    border: 3px solid #f9a825;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


.clan-logo {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 150px;
    height: auto;
    border: 3px solid #f9a825;
    border-radius: 50%;
    box-shadow: 0 0 15px #f9a825;
}


h2 {
    font-size: 28px;
    color: #f9a825;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin: 10px 0;
}


.clan-details {
    font-size: 16px;
    color: #fff;
    margin: 5px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.members-container {
    display: inline-block;
    background-color: #1abc9c;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
    margin: 20px auto;
}

.members-container:hover {
    background-color: #ffd700;
    transform: scale(1.1);
}

.members-link {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    transition: color 0.3s;
}

.members-link:hover {
    color: #fef9f9; 
}

.clan-labels {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.clan-labels img {
    max-width: 60px;
    height: auto;
    border: 2px solid #f9a825;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.clan-labels p {
    font-size: 14px;
    color: #f9a825;
    margin: 5px 0 0 0;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}


hr {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, #f9a825, rgba(0, 0, 0, 0));
    margin: 20px auto;
}
