{{define "accueil"}}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page d'accueil</title>
  <link rel="stylesheet" href="/static/accueil.css">
</head>
<body>
  <header>
    <div class="left-header">
      <img class="account-link" src="/static/image-icon.png" alt="Compte">
      <div class="account-menu">
        {{if .}}
        <a href="/login?disconnect=true">
            <h5>Déconnection</h5>
        </a>
        {{else}}
        <a href="/register">
            <h5>Inscription</h5>
        </a>
        <span></span>
        <a href="/login">
            <h5>Connexion</h5>
        </a>
        {{end}}
      </div>
    </div>
    <div class="right-header">
      <ul>
        <li><a href="/clans">Clans</a></li>
        <li><a href="/a-propos">À propos</a></li>
        <li><a href="/favorites">Mes favoris</a></li>
      </ul>
    </div>
  </header>
  <main>
    <div class="title-container">
      <h1>Bienvenue sur l'API Clash of Clans !</h1>
    </div>
    <form id="search-form" action="/research" method="GET" class="search-form">
      <div class="search-container">
          <input type="text" placeholder="Recherchez un clan !" id="search-bar" name="research">
          <button type="button" class="filter-btn" id="filter-toggle">Filtres</button>
      </div>
      <div id="search-error" style="color: red; margin-top: 5px;"></div>
      <div class="filters" id="filters" style="display: none;">
          <div class="filter-field">
              <label for="minClanLevel">Niveau minimum du clan</label>
              <input type="number" name="minClanLevel" id="minClanLevel" placeholder="Ex: 5">
          </div>
          <div class="filter-field">
              <label for="minMembers">Nombre minimum de membres</label>
              <input type="number" name="minMembers" id="minMembers" placeholder="Ex: 10">
          </div>
          <div class="filter-field">
              <label for="minClanPoints">Points minimum du clan</label>
              <input type="number" name="minClanPoints" id="minClanPoints" placeholder="Ex: 1000">
          </div>
      </div>
      <button type="submit" class="search-btn">Rechercher</button>
    </form>
  </main>
  <footer>
    <p>&copy; 2025 Clash of Clans API. Tous droits réservés.</p>
  </footer>
  <script>
    const filterToggle = document.getElementById('filter-toggle');
    const filters = document.getElementById('filters');
    filterToggle.addEventListener('click', () => {
      filters.style.display = (filters.style.display === 'none' || filters.style.display === '') ? 'block' : 'none';
    });

  </script>
  <script src="/static/Validation.js"></script>
  <script src="/static/register.js"></script>
  <script src="/static/filtres.js"></script>
</body>
</html>
{{end}}
