{{define "details-clans"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clan Details</title>
    <link rel="stylesheet" href="/static/details-clans.css">
</head>
<body>
    <header>
        <h1>Clan Details</h1>
    </header>

    <main>

        <section id="general-info">
            <h2>General Information</h2>
            <p><strong>Tag:</strong> <span id="clan-tag">{{.Tag}}</span></p>
            <p><strong>Name:</strong> <span id="clan-name">{{.Name}}</span></p>
            <p><strong>Type:</strong> <span id="clan-type">{{.TypeClan}}</span></p>
            <p><strong>Description:</strong> <span id="clan-description">{{.Description}}</span></p>
            <p><strong>Location:</strong> <span id="clan-location">{{.Location.Name}}</span></p>
            <img id="badge-url" src="{{.BadgeUrl.Medium}}" alt="Clan Badge">
            <form action="/favorites/add" method="POST" style="display:inline;">
              <input type="hidden" name="tag" value="{{.Tag}}">
              <input type="hidden" name="name" value="{{.Name}}">
              <input type="hidden" name="badge" value="{{.BadgeUrl.Medium}}">
              <button type="submit" style="background: none; border: none; cursor: pointer;">
                <p> <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" viewBox="0 0 24 24" fill="none">
                    <path d="M12 21L12 12M12 12L15 15.3333M12 12L9 15.3333" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M20.5 7V13C20.5 16.7712 20.5 18.6569 19.3284 19.8284C18.1569 21 16.2712 21 12.5 21H11.5C7.72876 21 5.84315 21 4.67157 19.8284C3.5 18.6569 3.5 16.7712 3.5 13V7" stroke="#000" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M2 5C2 4.05719 2 3.58579 2.29289 3.29289C2.58579 3 3.05719 3 4 3H20C20.9428 3 21.4142 3 21.7071 3.29289C22 3.58579 22 4.05719 22 5C22 5.94281 22 6.41421 21.7071 6.70711C21.4142 7 20.9428 7 20 7H4C3.05719 7 2.58579 7 2.29289 6.70711C2 6.41421 2 5.94281 2 5Z" stroke="#000" stroke-width="1.5"/>
                    </svg>
                </p>
              </button>
            </form>
        </section>

        <section id="clan-stats">
            <h2>Clan Statistics</h2>
            <ul>
                <li><strong>Clan Level:</strong> <span id="clan-level">{{.ClanLevel}}</span></li>
                <li><strong>Clan Points:</strong> <span id="clan-points">{{.ClanPoints}}</span></li>
                <li><strong>Builder Base Points:</strong> <span id="builder-base-points">{{.ClanBuilderBasePoints}}</span></li>
                <li><strong>Capital Points:</strong> <span id="capital-points">{{.ClanCapitalPoints}}</span></li>
                <li><strong>Required Trophies:</strong> <span id="required-trophies">{{.RequiredTrophies}}</span></li>
                <li><strong>War Frequency:</strong> <span id="war-frequency">{{.WarFrequency}}</span></li>
                <li><strong>War Wins:</strong> <span id="war-wins">{{.WarWins}}</span></li>
                <li><strong>War Losses:</strong> <span id="war-losses">{{.WarLosses}}</span></li>
                <li><strong>War Ties:</strong> <span id="war-ties">{{.WarTies}}</span></li>
                <li><strong>War Streak:</strong> <span id="war-streak">{{.WarWinStreak}}</span></li>
                <li><strong>Members:</strong> <span id="clan-members">{{.Members}}</span></li>
            </ul>
        </section>

        <section id="clan-capital">
            <h2>Clan Capital</h2>
            <p><strong>Capital Hall Level:</strong> <span id="capital-hall-level">{{.ClanCapital.CapitalHallLevel}}</span></p>
            <h3>Districts</h3>
            <ul id="capital-districts">
                {{range .ClanCapital.Districts}}
                <li>{{.Name}} (Level {{.DistrictHallLevel}})</li>
                {{end}}
            </ul>
        </section>

        <section id="member-list">
            <h2>Members</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Town Hall Level</th>
                        <th>Exp Level</th>
                        <th>League</th>
                        <th>Trophies</th>
                        <th>Donations</th>
                        <th>Donations Received</th>
                    </tr>
                </thead>
                <tbody id="members">
                    {{range .MembersList}}
                    <tr>
                        <td>{{.Name}}</td>
                        <td>{{.Role}}</td>
                        <td>{{.TownHallLevel}}</td>
                        <td>{{.ExpLevel}}</td>
                        <td>{{.League.Name}}</td>
                        <td>{{.Trophies}}</td>
                        <td>{{.Donations}}</td>
                        <td>{{.DonationsReceived}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </section>

        <section id="clan-labels">
            <h2>Labels</h2>
            <ul id="labels">
                {{range .Labels}}
                <li>
                    <img src="{{.IconUrls.Medium}}" alt="{{.Name}}">
                    {{.Name}}
                </li>
                {{end}}
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Clan Info. All rights reserved.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>
{{end}}
