{{define "login"}}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connexion</title>
  <link rel="stylesheet" href="/static/login.css">
</head>
<body>
  <header>
    <div class="header-container">
      <h1>Connexion</h1>
      <a href="/register" class="btn">S'inscrire</a>
    </div>
  </header>
  <main>
    <div>
      <img src="/static/photo.Connexion.jpeg" alt="bachground" class="background">
    </div>
    {{if .Message}}
      <div class="login-message" style="color: red; margin-bottom: 15px;">
        {{.Message}}
      </div>
    {{end}}
    <form action="/login/traitement" method="POST">
      <label for="username">Nom d'utilisateur :</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Mot de passe :</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Se connecter</button>
    </form>
  </main>
  <footer>
    <p>&copy; 2025 Clash of Clans API. Tous droits réservés.</p>
  </footer>
</body>
</html>
{{end}}
