{{define "register"}}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inscription</title>
  <link rel="stylesheet" href="/static/register.css">
</head>
<body>
  <header>
    <h1>Inscription</h1>
    <nav>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/login">Connexion</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <form action="/register/traitement" method="POST" class="register-form">
      <label for="username">
          <h2>Inscription</h2>
      </label>
      <div class="input-container">
          <input type="text" id="username" name="username" placeholder="Nom d'utilisateur" required>
      </div>
      <div class="input-container">
          <input type="password" id="password" name="password" placeholder="Mot de passe" required>
      </div>
      <button type="submit">S'inscrire</button>
  </form>
  </main>
  <footer>
    <p>&copy; 2025 Clash of Clans API. Tous droits réservés.</p>
  </footer>
</body>
</html>
{{end}}
