{{define "register"}}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inscription</title>
  <link rel="stylesheet" href="/static/register.css">
</head>
<body>
  </header>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/login">Connexion</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div>
      <img src="/static/photo.Connexion.jpeg" alt="bachground" class="background">
    </div>
    <form action="/register/traitement" method="POST">
      <label for="username">Nom d'utilisateur :</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Mot de passe :</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Se connecter</button>
    </form>
  </main>
  <footer>
    <p>&copy; 2025 Clash of Clans API. Tous droits réservés.</p>
  </footer>
</body>
</html>
{{end}}


