{{define "research-clans"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche de Clan</title>
    <link rel="stylesheet" href="/static/research.css">
</head>
<body>
    <div class="clan-container">

        {{range .Items}}
        <img class="clan-logo" src="{{.BadgeUrl.Medium}}" alt="Logo du clan">
        <h2>{{.Name}}</h2>
        <p class="clan-details">Type : {{.TypeClan}}</p>
        <p class="clan-details">Niveau : {{.ClanLevel}}</p>
        <p class="clan-details">Points de clan : {{.ClanPoints}}</p>
        <p class="clan-details">Guerres gagnées : {{.WarWins}}</p>
        <p class="clan-details">Guerres perdues : {{.WarLosses}}</p>
        <p class="clan-details">Membres : {{.Members}}</p>


        <div class="members-container">
            <a href="/clans/details?tag={{.Tag}}" class="members-link">Détails du Clan</a>
        </div>
        

        <div class="clan-labels">
            {{range .Label}}    
            <div>
                <img src="{{.IconUrls.Medium}}" alt="{{.Name}}">
                <p>{{.Name}}</p>
            </div>
            {{end}}
        </div>
        <hr>
        {{end}}
    </div>
</body>
</html>
{{end}}
