{{define "research-clans"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche de Clan</title>
    <link rel="stylesheet" href="/static/research.css">
</head>
<body>
    <div class="clan-container">

        {{range .Items}}
        <img class="clan-logo" src="{{.BadgeUrl.Medium}}" alt="Logo du clan">
        <h2>{{.Name}}</h2>
        <a href="/clans/details?tag={{.Tag}}">Consulter</a>
        <p class="clan-details">Tag : {{.Tag}}</p>
        <p class="clan-details">Type : {{.TypeClan}}</p>
        <p class="clan-details">Niveau : {{.ClanLevel}}</p>
        <p class="clan-details">Points de clan : {{.ClanPoints}}</p>
        <p class="clan-details">Ligue de capitale : {{.CapitalLeague.Name}}</p>
        <p class="clan-details">Série de victoires en guerre : {{.WarWinStreak}}</p>
        <p class="clan-details">Guerres gagnées : {{.WarWins}}</p>
        <p class="clan-details">Matchs nuls : {{.WarTies}}</p>
        <p class="clan-details">Guerres perdues : {{.WarLosses}}</p>
        <p class="clan-details">Ligue de guerre : {{.Warleague.Name}}</p>


        <div class="members-container">
            <p class="clan-details">Membres : {{.Members}}</p>
            <button type="button" class="members-btn" id="Members-toggle">Membres</button>
        </div>
        

        <div class="clan-labels">
            {{range .Label}}
            <div>
                <img src="{{.IconUrls.Medium}}" alt="{{.Name}}">
                <p>{{.Name}}</p>
            </div>
            {{end}}
        </div>
        <hr>
        {{end}}
    </div>

    <script>

        const filterToggle = document.getElementById('Members-toggle');
        filterToggle.addEventListener('click', () => {
            alert('Affichage des membres');
        });
    </script>
</body>
</html>
{{end}}
